th, td{
text-align: center;
vertical-align: middle;
}

h1, h2{
text-align:center;
}

.imagen img {
    width:65px;
    height: 55px;
}

.bgimg{
background: url("/static/bg.jpg") 100% 0 no-repeat fixed;
height: 1800px;
padding: 100px 0 0 0;
}
